@charset "utf-8";
/* CSS Document */

body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.resume {
	filter: drop-shadow(0 0 0.70rem pink);
}

.nav-link{
	color: rgba(249,193,245,1.00) !important;
	
}

		a:link {
	color: rgba(249,193,245,1.00);
		text-decoration: none;
}
        a:visited {
    color: rgba(249,193,245,1.00); 
}
        a:hover {
			color: rgba(172,172,172,1.00);
}
.font-weight-light{
	text-shadow:2px 2px 7px pink;
}
